# **Some Functions to Run with Missing Values**

How to replace null values in column with the mean value of the column

In [10]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(0,100,size=(20, 4)), columns=list('ABCD'))
df.iloc[3:5,0] = np.nan

df

       A   B   C   D
0   84.0   8  14  76
1   72.0  10  34  62
2   27.0   4  34  96
3    NaN  41  78  13
4    NaN  50  92  29
5   56.0  33  14  13
6   55.0   9  81  13
7   39.0   5  43  49
8   87.0  59  62  14
9   18.0  28  15  90
10  69.0  78  26  16
11  70.0  82  24  62
12  75.0  81  96  78
13  35.0  52  82  41
14  57.0  81  92  27
15  89.0  63  84  90
16  34.0  19  62   0
17  36.0   4  47  54
18   1.0  71  19  71
19  22.0  56  37  10

In [15]:
#df['A'].fillna((df.mean()))
#df['A'].fillna('A').median()
#df['A'].fillna('A', method = 'median')
df['A'] = df['A'].fillna(df['A'].median())


df

       A   B   C   D
0   84.0   8  14  76
1   72.0  10  34  62
2   27.0   4  34  96
3   55.5  41  78  13
4   55.5  50  92  29
5   56.0  33  14  13
6   55.0   9  81  13
7   39.0   5  43  49
8   87.0  59  62  14
9   18.0  28  15  90
10  69.0  78  26  16
11  70.0  82  24  62
12  75.0  81  96  78
13  35.0  52  82  41
14  57.0  81  92  27
15  89.0  63  84  90
16  34.0  19  62   0
17  36.0   4  47  54
18   1.0  71  19  71
19  22.0  56  37  10

In [22]:
A = np.array([[0.1, 0.2], [0.03, 0.44], [0.25, 0.16]])
A

#A[[0,0,1], [0,1,2]]
A[[0,1,2], [0,0,1]]
#A.select([0,0])

array([0.1 , 0.03, 0.16])